/* #box{
    color:maroon;
    background-color: pink;
}
.heading{
    color:aquamarine;
} 
#heading{
    color:brown;
}
#heading{
    color:red;
} 
h1,h2,h3{
    color:red;
}
#button{
    color:azure;
}  */

p{
    font-weight:bolder ;
}